project:
  type: website
  # type: confluence

resources:
  - CNAME

render:
  - "!*.ipynb_checkpoints"

website:
  site-url: "https://docs.mlerp.cloud.edu.au/"
  title: "MLeRP User Guide Documentation"
  favicon: ./images/favicon-32x32.png
  navbar:
    logo: ./images/mstile-150x150.png
    left:
      - text: "Home"
        file: index.qmd
      - text: About
        file: about.qmd
      - faq.qmd
    right:
      - text: Log in
        href: https://mlerp.cloud.edu.au/launch
      - text: Sign up
        href: https://forms.gle/HuPk8ckmptq2LCaR7
      - icon: github
        href: https://github.com/mitchellshargreaves-monash/MLeRP-Documentation
        aria-label: Documentation
      - icon: rss
        href: https://docs.mlerp.cloud.edu.au/release.xml
        aria-label: Release Notes
  sidebar:
    contents:
      - text: "Home"
        file: index.qmd
      - text: "About"
        file: about.qmd
      - text: "Partitions and QoS"
        file: hardware.qmd
      - getting_started.qmd
      - section: "Using MLERP"
        contents:
        - "usage/strudel2.qmd"
        - "usage/documentation.qmd"
        - section: "Conda"
          contents:
            - text: "Provided environments"
              file: "usage/conda.qmd"
            - text: "Custom environments"
              file: "usage/custom.qmd"
            - "usage/environments.qmd"
      - section: "Connecting"
        contents:
        - auto: "connecting/*.qmd"
      - faq.qmd
      - section: "Tutorials"
        contents:
        - auto: "tutorials/*"
      - file: release.qmd

format:
  html:
    theme: 
      - cosmo
      - styles.scss
    css: styles.css
    toc: true